name: CI Build & Security Scans

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: 

env:
  ACR_LOGIN_SERVER: 'arthaoneacr.azurecr.io'
  DOCKER_IMAGE_NAME: 'cardsapiarthone'
  DOCKERFILE_PATH: './cards-Dockerfile'

jobs:
  BuildAndScanApp:
    name: Application Build and Security Scan
    runs-on: [self-hosted, Windows, X64] # Your Windows agent
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # Explicitly using PowerShell for the login command
      - name: Login to ACR
        shell: powershell
        run: |
          echo "${{ secrets.ACR_PASSWORD }}" | docker login ${{ env.ACR_LOGIN_SERVER }} -u ${{ secrets.ACR_USERNAME }} --password-stdin

      - name: Build Docker Image
        run: |
          docker build -t ${{ env.ACR_LOGIN_SERVER }}/${{ env.DOCKER_IMAGE_NAME }}:${{ github.run_id }} -f ${{ env.DOCKERFILE_PATH }} .

      - name: Push Docker Image
        run: |
          docker push ${{ env.ACR_LOGIN_SERVER }}/${{ env.DOCKER_IMAGE_NAME }}:${{ github.run_id }}

      - name: Docker Cleanup and Prune
        shell: powershell
        run: |
          docker image prune -a -f
          docker buildx prune -a -f
