name: CI Build & Security Scans

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: 

env:
  ACR_LOGIN_SERVER: 'arthaoneacr.azurecr.io'
  DOCKER_IMAGE_NAME: 'cardsapiarthone'
  DOCKERFILE_PATH: './cards-Dockerfile'

jobs:
  BuildAndScanApp:
    name: Application Build and Security Scan
    runs-on: [self-hosted, Windows, X64]
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      # Check where the files are to help debug
      - name: List Files
        run: dir

      - name: Install Dependencies
        # If your package.json is in a subfolder, add: working-directory: ./your-folder-name
        run: npm install

      - name: Build Docker Image
        run: docker build -t ${{ env.ACR_LOGIN_SERVER }}/${{ env.DOCKER_IMAGE_NAME }}:${{ github.run_id }} -f ${{ env.DOCKERFILE_PATH }} .

      - name: Push Docker Image
        run: docker push ${{ env.ACR_LOGIN_SERVER }}/${{ env.DOCKER_IMAGE_NAME }}:${{ github.run_id }}
